.InputContainer {
  display: flex;
  bottom: 0;
  justify-content: center;
  /* position: fixed;
  width: 100%; */
}

.InputFieldset {
  border: none;
  width: 60%;
}

.InputForm {
  display: flex;
  height: 4rem;
  width: 100%;
}

.PostInput {
  flex-grow: 2;
  resize: none;
}

.SubmitPostBtn {
  margin: 0.5rem;
}
