.TopBar {
  background-color: #235789;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.36);
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.Title {
  color: #fff;
  margin: 0;
}

.AuthButton {
  display: inline-block;
  margin: 0.2rem;
  margin-right: 0.5rem;
}

.LoggedMenu {
  display: flex;
}

.UsernameDisplay {
  align-items: center;
  color: white;
  display: flex;
  margin: 0.4rem;
}
