.TopBar {
  border: 2px solid #ccc;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 0.8rem;
  /* position: fixed; */
  /* top: 0; */
  /* width: 100%; */
}

.AuthButton {
  display: inline-block;
  margin: 0.2rem;
}

.LoggedMenu {
  display: flex;
}

.UsernameDisplay {
  margin: 0.4rem;
}
